extends languages/english

//- Variables that differ on the edm specific level
block contentVars
  //-deployDir = ""; //- Location where EDM will be hosted
  //-deployUrl = deployDir + "index.html"; //- Url where the EDM can be viewed
  //-shareImg = deployDir + "img/share.png"; //- Url of hosted image to be shared on social media
  -legal = "standard"; // standard or corporate
