//- Default numeric values
-var maxWidth = 600;
-var padding = 7;

//- Default information
-var title = fileName; //- Maximum of 70 characters
-var description = "Description of " + title; //- Maximum of 160 characters
-var deployUrl = "URL OF HOSTED ONLINE VERSION EMAIL"; //- Url where the EDM can be viewed
-var shareImg = "URL OF HOSTED IMAGE TO BE SHARED ON FB"; //- Url of image to be shared on social media
-var language = "english"; // benl, befr, fra or nld
-var legal = "standard"; // standard or corporate
