//- Default numeric values
-var maxWidth = 600;
-var paddingSm = 4;
-var paddingMd = 7;
-var paddingLg = 15;
-var borderWidth = 2;

//- Default information
-var title = fileName; //- Maximum of 70 characters
-var description = "Description of " + title; //- Maximum of 160 characters
-var deployUrl = "URL OF ONLINE VERSION OF EMAIL"; //- Url where the EDM can be viewed
-var shareImg = "URL OF IMAGE TO BE SHARED ON SOCIAL MEDIA"; //- Url of image to be shared on social media
-var language = "english"; // benl, befr, fra or nld
-var legal = "standard"; // standard or corporate
